{# app/Resources/views/movielist.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movies</h1>
    <table>
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>&nbsp;</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <td><a href="{{ path('_movieDetail', {'slug': movie.slug}) }}">{{ movie.title }}</a></td>
        <td>{{ movie.year }}</td>
        <td><a href="{{ movie.imdbLink }}">IMDB</a></td>
    </tr>
    {% endfor %}
    <table>
{% endblock %}
